<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>

<body class="bg-zinc-950 text-zinc-300">
  <div x-data="{ openRegister:<%= locals.openRegister === true ? 'true' : 'false' %>, 
                openLogin: <%= locals.openLogin=== true ? 'true' : 'false' %>, 
                openProfile: false,
                openCreatePost: <%= openCreatePost === true ? 'true' : 'false' %>,
                }" class="min-h-screen bg-zinc-950">

    <%- include('./partials/navbar') %>

    <% if (locals.isAuthenticated) { %>
    <%- include('./partials/createPostBtn') %>
    <%- include('./components/createPostModal') %>

    <% postMessages.forEach(postData => { %>
    <%- include('./components/postCard', { postData }) %>
    <% }) %>

    <% } %>

    <% if (!locals.isAuthenticated) { %>
    <%- include('./components/registerModal', {errors: errors, formData: formData}) %>
    <%- include('./components/loginModal') %>
    <% } %>


  </div>
</body>

</html>